---
import Knap from "./../komponenter/knap.astro"
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Magivenner</title>
		<link rel="stylesheet" href="/src/css/global.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Staatliches&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="progress-container">
    		<div class="progress-bar" id="myBar"></div>
			</div>
		</header>
		<main>
			<h1>Header 1</h1>
			<h2>Header 2</h2>

			<div class="">
			<h3>Hvad er Magivenner?</h3>
			<p>Magivenner er et magisk univers med trylleri, hvor vores magikere er til stede på alle landets børneafdelinger og invitere børn og deres familier ind under den magiske paraply med magi og glæde. Målet er at børnene bliver opslugt at de spændende magiske tricks og får en pause fra sygdom, kedelig ventetid, frygt for ubehag eller sorg. 
			Magivenner skaber lys i en svær tid for syge børn og deres familier på hospitalerne, som stjernerne der oplyser natten!
			Magivenner underholder børn i alle aldre. Børnene underholdes med tricks og ballondyr, som kan give glæde og grin til børnene og deres familier i en mørk tid.  De større børn kan lære små trylletricks, så de kan øve sig og trylle videre foran vennerne, når de bliver udskrevet, eller når disse kommer på besøg.</p>
			</div>
			<div>
			<h3>Hvem er Magivenner?</h3>
			<p>Magivenner er et univers bestående af syv professionelle tryllekunstnere, som er rundt på forskellige hospitaler i hele Danmark. Vores tryllekunstnere er alle forskellige, men har alle samme vision – at lyse en svær tid op for syge børn. 
			Magivennerne: 
            Birger tryller i Viborg & Odense 
            Henny Solskin tryller i Herning
            Fabelagtig Falbe tryller i Roskilde & Holbæk 
            Rasmus Fup & Fidus tryller på Århus & i Familiehuset 
            Trylle Michael tryller på Riget 
            Lasse NK tryller på Herlev, Hvidovre og Gram slot
            Helle tryller i Koldning & Vejle</p>
			</div>
			<Knap variant="primary"> <a href="#">STØT MAGIVENNER</a></Knap>
			<Knap variant="second"> <a href="#">STØT</a></Knap>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis asperiores culpa provident deserunt blanditiis possimus excepturi temporibus nesciunt cumque aliquam quaerat architecto aliquid debitis, vitae suscipit a, sequi necessitatibus nihil?</p>
			<p class="stor">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis asperiores culpa provident deserunt blanditiis possimus excepturi temporibus nesciunt cumque aliquam quaerat architecto aliquid debitis, vitae suscipit a, sequi necessitatibus nihil?</p>
			<p class="lille">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis asperiores culpa provident deserunt blanditiis possimus excepturi temporibus nesciunt cumque aliquam quaerat architecto aliquid debitis, vitae suscipit a, sequi necessitatibus nihil?</p>
		</main>
	</body>
</html>

<script>
window.addEventListener("scroll", onScroll);

function onScroll() {
  let winScroll = document.body.scrollTop || document.documentElement.scrollTop; 
  let height = document.documentElement.scrollHeight - document.documentElement.clientHeight; 
  let scrolled = (winScroll / height) * 100; 
  document.getElementById("myBar").style.width = scrolled + "%"; 
}
</script>
