---
import "../css/global.css"
import Knap from "./../komponenter/knap.astro"
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
		<link rel="manifest" href="favicon/site.webmanifest">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Magivenner</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Staatliches&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="progress-container">
    		<div class="progress-bar" id="bar"></div>
			</div>
		</header>
		<main>
			<Knap variant="primary"> <a href="#">STØT MAGIVENNER</a></Knap>
			<div class="logo_container">
			<img class="logo" src="/img/logo.svg" alt="logo">
			</div>
			<img class="pil" src="/img/arrow.svg" alt="pil">
			<section class="info">
			<div class="boks">
			<h3>Hvad er Magivenner?</h3>
			<p>Magivenner er et magisk univers med trylleri, hvor vores magikere er til stede på alle landets børneafdelinger og invitere børn og deres familier ind under den magiske paraply med magi og glæde. Målet er at børnene bliver opslugt at de spændende magiske tricks og får en pause fra sygdom, kedelig ventetid, frygt for ubehag eller sorg. <br> 
			Magivenner skaber lys i en svær tid for syge børn og deres familier på hospitalerne, som stjernerne der oplyser natten!<br><br>
			Magivenner underholder børn i alle aldre. Børnene underholdes med tricks og ballondyr, som kan give glæde og grin til børnene og deres familier i en mørk tid.  De større børn kan lære små trylletricks, så de kan øve sig og trylle videre foran vennerne, når de bliver udskrevet, eller når disse kommer på besøg.</p>
			</div>
			<div class="boks">
			<h3>Hvem er Magivenner?</h3>
			<p>Magivenner er et univers bestående af syv professionelle tryllekunstnere, som er rundt på forskellige hospitaler i hele Danmark. Vores tryllekunstnere er alle forskellige, men har alle samme vision – at lyse en svær tid op for syge børn.<br><br> 
			Magivennerne:<br>  
			<div class="indryk">
            Birger tryller i Viborg & Odense<br>  
            Henny Solskin tryller i Herning<br> 
            Fabelagtig Falbe tryller i Roskilde & Holbæk<br>  
            Rasmus Fup & Fidus tryller på Århus & i Familiehuset<br>  
            Trylle Michael tryller på Riget<br>  
            Lasse NK tryller på Herlev, Hvidovre og Gram slot<br> 
            Helle tryller i Koldning & Vejle<br></p>
			</div>
			</div>
			</section>
			<img class="bog" src="img/book.svg" alt="magi bog">
			<section class="statistik">
			<h1>SÅDAN HJÆLPER VI</h1>
			<div class="stat_grid">
				<div>
				<h1 class="kursiv">7</h1>
				<p class="stor">Hospitaler har Magivennerne deres
				daglige gang på</p>
				</div>
				<div>
				<h1 class="kursiv">50</h1>
				<p class="stor">Børn får besøg af en Magiven 
				på hospitalet hver dag</p>
				</div>
				<div>
				<h1 class="kursiv">1.000.000</h1>
				<p class="stor">Danske kroner har vi indsamlet til 
				Magivennerne i år</p>
				</div>
			</div>
			</section>
			<video class="video" width="80%" height="auto" controls>
				<source src="/img/Magivennerne.mp4" type="video/mp4">
			</video>
			<div class="citat_grid">
			<section class="citat">
				<p class="stor"><span class="tegn">“</span>At høre vores søn grine og være i øjeblikket var en gave. Magien var ikke kun for ham, men for hele familien.<span class="tegn">“</span></p>
				<p class="stor bold">- Marianne, mor til Helmut på 6 år</p>
			</section>
			<div></div>
			<div></div>
			<section class="citat">
				<p class="stor"><span class="tegn">“</span>Da min Magiven kom ind på min stue glemte jeg alt om nåle og medicin. Det var rigtig sjovt!<span class="tegn">“</span></p>
				<p class="stor bold">- Arthur på 11 år</p>
			</section>
			<section class="citat">
				<p class="stor"><span class="tegn">“</span>At se min datter så glad og ubekymret var virkelig uvurderligt. For en stund følte vi begge, at vi var et helt andet sted.<span class="tegn">“</span></p>
				<p class="stor bold">- Christian, far til Sigga 4 år</p>
			</section>
			</div>
			<section class="slut">
				<h1><span class="non_fed">GØR EN </span>FORSKEL</h1>
				<div class="slut_grid">
					<div class="støt">
						<img class="ballon_1" src="/img/ballondog.svg" alt="ballondyr">
						<h2 class="bold farve">100 Kroner</h2>
						<Knap variant="second"> <a href="#">STØT NU</a></Knap>
					</div>
					<div class="støt">
						<img class="ballon_2" src="/img/ballondog.svg" alt="ballondyr">
						<h2 class="bold farve">250 Kroner</h2>
						<Knap variant="second"> <a href="#">STØT NU</a></Knap>
					</div>
					<div class="støt">
						<img class="ballon_3" src="/img/ballondog.svg" alt="ballondyr">
						<h2 class="bold farve">500 Kroner</h2>
						<Knap variant="second"> <a href="#">STØT NU</a></Knap>
					</div>
				</div>
				<h2 class="slogan">Alle børn har brug for en ven – Nogle gange en <span class="fed">MAGIVEN</span></h2>
			</section>
		</main>
		<footer>
			<a href="https://www.instagram.com/kidsaiddk/"><img src="/img/instagram.svg" alt="Instagram ikon"></a>
			<a href="#"><img src="/img/mail.svg" alt="Mail ikon"></a>
			<a href="https://www.facebook.com/KidsAidDanmark"><img src="/img/facebook.svg" alt="Facebook ikon"></a>
		</footer>
	</body>
</html>

<script type="module">
window.addEventListener("scroll", onScroll);

function onScroll() {
  let winScroll = document.body.scrollTop || document.documentElement.scrollTop; 
  let height = document.documentElement.scrollHeight - document.documentElement.clientHeight; 
  let scrolled = (winScroll / height) * 100; 
  document.getElementById("bar").style.width = scrolled + "%"; 
}

import { animate, scroll } from "https://cdn.jsdelivr.net/npm/motion@11.11.13/+esm" // importerer Motion One //

//  //
scroll(
  animate(".pil", { opacity: [1, 0] }), 
  {
    target: document.querySelector(".info"),
   offset: ["start end", "start start"]
  }
);

const alleCitater = document.querySelectorAll(".citat")

alleCitater.forEach((eachSection) => {
	scroll(animate(eachSection, { opacity: [0,1,0] }, {ease:"ease-in-out "}), {
	target: eachSection,
	offset: ["40% 80%", "80% 40%"],
})
});

</script>
