* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  background-image: url(/img/bagground.webp);
  background-repeat: no-repeat;
  background-size: cover;
  /* Colors */
  --star-blue-dark: #243c56;
  --dark-blue-color: #336396;
  --cloud-blue: #f0f7fe;
  --cloud-blue-transparant: #f0f7fe20;
  --CTA-orange: #ff9d20;
  --star-color: #fef8c8;
}

h1 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: var(--cloud-blue);
}

h2 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 2.8rem;
  font-weight: 400;
  color: var(--cloud-blue);
}

h3 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

/* h4 { overskrift bruges til meget stort infografik 
  font-family: "Source Sans 3", sans-serif;
  font-size: 5.7rem;
  font-weight: bolder;
  font-style: italic;
  color: var(--cloud-blue);
} */

p {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  line-height: 160%;
}

.stor {
  font-size: 1.4rem;
  color: var(--cloud-blue);
}

.kursiv {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  margin-inline: 1rem;
}

/* Progress container */
.progress-container {
  position: fixed;
  height: 5px;
  width: 100%;
}

/* Progress bar – indikatoren på, hvor langt man er scrollet (den orage) */
.progress-bar {
  height: 5px;
  width: 0%;
  background: var(--CTA-orange);
}

.logo_container {
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 40rem;
  margin-top: 5rem;
}

.info {
  background-image: url(/img/magican.svg);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center;
  background-attachment: fixed;
}

.boks {
  background-color: var(--cloud-blue);
  color: var(--dark-blue-color);
  padding: 1rem;
  margin-top: 10rem;
  margin-bottom: 30rem;
}

.bog {
  width: 80%;
  display: block;
  margin-inline: auto;
}

.statistik {
  margin-top: 5rem;
  text-align: center;
}

.video {
  margin-top: 20rem;
  display: block;
  margin-inline: auto;
}

span {
  font-size: 4rem;
  vertical-align: -1.5rem;
}

.citat_grid {
  display: grid;
  place-items: center;
}

.citat {
  padding-block: 25rem;
  max-width: 600px;
}

.slut {
  text-align: center;
  margin-top: 10rem;
}

.støt {
  margin-block: 5rem;
}

.ballon_1 {
  width: 6rem;
  display: block;
  margin-inline: auto;
}

.ballon_2 {
  width: 11rem;
  display: block;
  margin-inline: auto;
}

.ballon_3 {
  width: 16rem;
  display: block;
  margin-inline: auto;
}

.farve {
  color: var(--star-color);
}

.slogan {
  margin-bottom: 10rem;
  max-width: 540px;
  display: block;
  margin-inline: auto;
}

@media (min-width: 750px) {
  main {
    margin-inline: 6.25rem;
  }

  .boks {
    max-width: 37.5rem;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-block: 2rem;
  }
}
