* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  /* Colors */
  --star-blue-dark: #243c56;
  --dark-blue-color: #336396;
  --cloud-blue: #f0f7fe;
  --CTA-orange: #ff9d20;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}
